<html>

<head>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <link rel="stylesheet" href="css/styles.css" type="text/css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <title>Address Book</title>
</head>

<body>
  <div class="container card-size">
    <h4>Address Book</h4>
    <form class="" action="/add" method="post">
      <button type="submit" name="add" class="btn center-align">Add Contact</button>
    </form>
    {% if view_address_book is not empty %}
      {% for new_contact in view_address_book %}

        <div class="card hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="format-img" src="{{new_contact.getImage}}" alt="Image not found" onerror="this.onerror=null;this.src='https://upload.wikimedia.org/wikipedia/en/1/13/Stick_figure.png';" />
          </div>

          <div class="card-content">
            <span class="card-title activator black-text text-darken-4 btn-flat">{{new_contact.getLastName}}, {{new_contact.getFirstName}} <i class="material-icons right">perm_identity</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title black-text text-darken-4">{{new_contact.getLastName}}, {{new_contact.getFirstName}}<i class="material-icons right">close</i></span>
            <p><i class="material-icons">location_on</i> Address: {{new_contact.getAddress}}</p>
            <p><i class="material-icons">contact_phone</i> Phone Number: {{new_contact.getPhoneNumber}}</p>
          </div>
        </div>
      {%endfor%}
      <form  action="/delete" method="post">
        <button type="submit" action="/delete" method="post" name="delete" class="btn red">DELETE ALL CONTACTS</button>
      </form>
    {%endif%}
  </div>
</body>

</html>
